<p>profile-edit works!</p>
<div>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="first-name">Password: </label>
    </div>
    <input id="first-name" type="text" formControlName="passWord" />
    <div
      *ngIf="passWord?.invalid && (passWord.dirty || passWord.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="passWord.errors?.['required']">Password is required.</div>
    </div>
    <div>
      <label for="last-name">Confirm password: </label>
    </div>
    <input id="last-name" type="text" formControlName="confirmPassword" />
    <div
      *ngIf="confirmPassword.dirty || confirmPassword.touched"
      class="alert alert-danger"
    >
      <div *ngIf="profileForm.hasError('notSame')">Passwords do not match</div>
    </div>
    <div>
      <label for="last-name">Name: </label>
    </div>
    <input id="last-name" type="text" formControlName="name" />
    <!-- <div formGroupName="address">
      <h2>Address</h2>

      <div>
        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="street" />
      </div>

      <div>
        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city" />
      </div>

      <div>
        <label for="state">State: </label>
        <input id="state" type="text" formControlName="state" />
      </div>

      <div>
        <label for="zip">Zip Code: </label>
        <input id="zip" type="text" formControlName="zip" />
      </div>
    </div> -->
    <button type="submit">submit</button>
  </form>
</div>
